:root{
    --fuente:"Roboto Condensed", serif;

    --blanco: #FFFFFF;
    ;

}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*:before,*:after{
    box-sizing: inherit;
}

body{
    display: grid;
    font-family: var(--fuente), serif;
    font-size: 1.6rem;
    line-height: 2;
}

.blog{
    display: grid;
}

.header{
    background-color: black;
    color: azure;
    font-size: 4rem;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.header--navegacion{
    color: var(--blanco);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav--a{
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--blanco);
    text-decoration: none;
    padding: 2rem;
    margin: 0 auto;
}


.articulo{
    max-width: 100rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.footer{
    font-size: 1.6rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    background-color: black;
    color: azure;

}
.articulo--img{
    max-width: 30rem;
}
